In [30]:
import pandas as pd
import os
import re

In [1]:
directory = "data/json"

In [19]:
df = pd.DataFrame(columns = ['ImageID','LabelName','Width','Height'])
for i,j in enumerate(os.listdir(directory)):
    json_dir = os.path.join(directory, j)
    try :
        file = pd.read_json(json_dir)
    except :
        break

    temp = pd.DataFrame({'ImageID':j[:-5],'LabelName':file.iloc[0,6],'Width':file.iloc[0,7],'Height':file.iloc[0,8]}, index = [i])
    df = pd.concat([df, temp])

In [91]:
re_df = df.copy()
re_df['ImageID'] = df['ImageID'].apply(lambda x : re.sub(r'-+[0-9]+_+[A-Z0-9]{2,8}','',x))

In [97]:
removed_duplicate = re_df.groupby("ImageID").agg(max)
removed_duplicate

                LabelName  Width  Height
ImageID
apple_fuji_L_1          특    9.7     9.0
apple_fuji_L_10         특    9.6     8.9
apple_fuji_L_11         특    9.4     8.7
apple_fuji_L_12         특    9.7     8.7
apple_fuji_L_13         특    9.7     9.4
...                   ...    ...     ...
apple_fuji_S_6         보통    7.8     6.6
apple_fuji_S_60        보통    7.5     6.5
apple_fuji_S_7         보통    7.5     7.0
apple_fuji_S_8         보통    7.8     7.1
apple_fuji_S_9         보통    7.5     6.5

[180 rows x 3 columns]

In [98]:
def convert(string):
    if string == "특":
        return "high"
    elif string == "상":
        return "medium"
    else:
        return "low"
removed_duplicate['LabelName'] = removed_duplicate['LabelName'].apply(convert)

In [100]:
removed_duplicate.to_csv('data/dataset.csv', encoding='utf-8')